* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6f6f6;
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    position: relative;
    min-height: 100vh;
}

main {
    padding: 0 10px 280px 10px;
    margin-top: 110px;
}

.content {
    margin: auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.not-bought {
    background-color: #383838 !important;
    border-color: #383838 !important;
    color: #FFFFFF !important;
}

.not-bought:hover {
    background-color: #383838 !important;
    border-color: #383838 !important;
    color: #FFFFFF !important;
}

.not-hover-button:hover {
    background-color: #FFFFFF !important;
    color: #707070 !important;
    border: 2px solid #cccccc !important;
}

.inverse-button-color {
    background-color: #383838 !important;
    border-color: #383838 !important;
    color: #FFFFFF !important;
}

.inverse-button-color:hover {
    background-color: #FFFFFF !important;
    color: #707070 !important;
    border-color: #cccccc !important;
}

a {
    text-decoration: none;
    color: #383838;
}


@media screen and (max-width: 1000px) and (min-width: 901px) {
    .buy-item-left-container {
        margin: 0 auto;
    }

    .buy-window {
        width: 100% !important;
    }

    .content-wrapper-category {
        flex-direction: column;
    }

    .content-wrapper-buy {
        flex-direction: column;
    }

    .buy-item {
        flex-direction: column;
    }

    .items-filters {
        position: static !important;
        width: 100% !important;
    }

    .items-filters-price-input {
        width: 100% !important;
    }
}

@media screen and (max-width: 900px) and (min-width: 681px) {
    .buy-item-left-container {
        margin: 0 auto;
    }

    .buy-window {
        width: 100% !important;
    }

    .content-wrapper-category {
        flex-direction: column;
    }

    .content-wrapper-buy {
        flex-direction: column;
    }

    .buy-item {
        flex-direction: column;
    }

    .items-filters {
        position: static !important;
        width: 100% !important;
    }

    .items-filters-price-input {
        width: 100% !important;
    }

    .content-contacts {
        flex-direction: column;
        align-items: center;
    }

    .company-info {
        font-size: 25px;
    }
}

@media screen and (max-width: 680px) and (min-width: 581px) {
    .buy-item-left-container {
        margin: 0 auto;
    }

    .buy-window {
        width: 100% !important;
    }

    .preview-item-image-container {
        margin: 0px auto;
    }

    .content-wrapper-buy {
        flex-direction: column;
    }

    .buy-item {
        flex-direction: column;
    }

    .preview-item {
        flex-direction: column;
    }

    .content-wrapper-category {
        flex-direction: column;
    }

    .items-filters {
        position: static !important;
        width: 100% !important;
    }

    .items-filters-price-input {
        width: 100% !important;
    }

    .content-contacts {
        flex-direction: column;
        align-items: center;
    }

    .company-info {
        font-size: 17px;
    }

    .footer-wrapper {
        gap: 40px;
        flex-direction: column;
    }

    main {
        padding: 0 10px 555px 10px;
    }
}

@media screen and (max-width: 580px) {
    .buy-item-left-container {
        margin: 0 auto;
    }
    
    .buy-window {
        width: 100% !important;
    }

    .preview-item-image-container {
        margin: 0px auto;
    }

    .content-wrapper-buy {
        flex-direction: column;
    }

    .buy-item {
        flex-direction: column;
    }

    .preview-item {
        flex-direction: column;
    }

    .content-wrapper-category {
        flex-direction: column;
    }

    .items-filters {
        position: static !important;
        width: 100% !important;
    }

    .items-filters-price-input {
        width: 100% !important;
    }

    .content-contacts {
        flex-direction: column;
        align-items: center;
    }

    .footer-wrapper {
        gap: 40px;
        flex-direction: column;
    }

    .company-info {
        font-size: 17px;
    }

    .company-contacts img {
        width: 300px;
    }

    main {
        padding: 0 10px 555px 10px;
    }
}